/**index.wxss**/
.wrapper{
  height: 100vh;
  display: flex;
  .button-view{
    flex: 0 1 0;
    margin: auto;
  }
  .canvas{
    width: 100%;
    height: calc(100% - 40px);
  }
  #hidden-photoCanvas{
    position: absolute;
    top: 0;
    right: 100%;
  }
  .bottom-tools{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    justify-content: space-around;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    background-color: #333333;
    color: #fff;
  }
}
.color-picker-container{
  flex-grow: 1;
}
.color-picker{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: cyan;
  border: 3px solid #fff;
}
.grid-picker{
  display: flex;
  flex-grow: 2;
  justify-content: space-around;
  .iconfont{
    flex-grow: 1;
  }
}
.save-btn{
  flex-grow: 2;
  text-align: center;
}

.hidden{
  display: none !important;
}